[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "themes/hugo-cloak-email"]
	path = themes/hugo-cloak-email
	url = https://github.com/martignoni/hugo-cloak-email.git
