h1.title {
    font-family: 'Rubik Mono One', monospace;
    white-space: pre-wrap;
    position: absolute;
    top: 40%;
    left: 50%;
}

h1.title-accent {
    color:#F9D371;
}

h1.title-color1 {
    color:#F47340;
}

h1.title-color2 {
    color:#EF2F88;
}

h1.title-color3 {
    color:#8843F2;
}